<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="960px, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style/basket.css" type="text/css" />
    <link rel="stylesheet" href="/static/style/food-card.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/static/style/navbar-menu.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/style/products-list.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/style/style-modal.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/style/wrapper-box.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/style/modalReady.css"
      type="text/css"
    />

    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <div id="box1">
        <p>Сделай заказ</p>
      </div>
      <div id="box2">
        <nav class="navbar-menu" id="menu">
          <a href="/blins">Блины</a>
          <a href="/shaurma">Шаурма</a>
          <a href="/pizza">Пицца</a>
          <a href="/sandwiches">Сэндвичи</a>
          <a href="/burgers">Бургеры </a>
          <a href="/chicken">Курица & Картофель</a>
          <a href="/salads">Тортилья & Салаты </a>
          <a href="/drinks">Напитки & Десерты </a>
        </nav>
        <div class="basket-logo">
          <p>Корзина</p>
        </div>
        <div class="basket-body">
          <div class="basket-info">
            <p>Название</p>
            <p>Количество</p>
          </div>
          <div class="basket-products"></div>
          <hr />
          <p id="totalSumm">Итого: 0 руб</p>
          <button class="btn" type="submit">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
      </div>

      <div id="contentFoods"></div>
    </div>
    <script
      type="text/javascript"
      src="/static/scripts/deleteFoodBascet.js"
    ></script>
    <script type="text/javascript" src="/static/scripts/menuActive.js"></script>
    <script
      type="text/javascript"
      src="/static/scripts/setLocalStorageOrder.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/renderProductHtml.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/renderModalDialog.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/renderModalReady.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/renderFoodinBasket.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/loadingCartData.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/reloadingCartDataToClick.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/calculationOfTheTotalPrice.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/addPriceSessionsStorage.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/addClassActiveModal.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/addIngredientsSandwiches.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/disabledActiveModal.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/menuModalActivity.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/bottomModalPrice.js"
    ></script>
    <script type="text/javascript" src="/static/scripts/closeModal.js"></script>
    <script type="text/javascript" src="/static/scripts/checkout.js"></script>

    <script>
      let contentFoods = document.getElementById("contentFoods");
      async function getResponse() {
        let response = await fetch("http://myjson.dit.upm.es/api/bins/9np0");
        let content = await response.json();
        return content;
      }

      class Products {
        constructor() {
          let typeProduct = "";
          let foods;
          this.order = [];
          this.local;
        }

        render() {
          let htmlCatalog = "";
          let i = 0;
          this.typeProduct = window.location.pathname.split("/")[1];
          //console.log(this.typeProduct);
          getResponse().then((content) => {
            this.foods = content;
            content.menu.forEach((element) => {
              if (element.category === this.typeProduct) {
                renderListFood(
                  content,
                  htmlCatalog,
                  contentFoods,
                  i,
                  this.typeProduct
                );
              }
            });
          });
        }
        orderQuantity() {
          let firstPrice = 0;
          window.addEventListener("click", (event) => {
            if (event.target.id === "amount-food") {
              let card = event.target.closest("#food-card");
              let price = card.querySelectorAll("#description-food p");
              let priceSplit = price[1].innerText.split(":")[1];

              event.target.addEventListener("input", (event) => {
                price[1].innerText = `Цена:${(
                  event.target.value * priceSplit
                ).toFixed(1)}`;
              });
            }

            if (event.target.id === "add-food") {
              let card = event.target.closest("#food-card");
              let price = card.querySelectorAll("#description-food p");
              let priceSplit = price[1].innerText.split(":")[1];

              let counterWrapper = event.target.closest("#buy-food");
              let counter = counterWrapper.querySelector("#amount-food");
              counter.defaultValue = counter.value++ + 1;
              console.log(counter.value, counter);
              if (+counter.value > 2) {
                firstPrice = +priceSplit / (+counter.value - 1);
                price[1].innerText = `Цена:${(
                  firstPrice * +counter.value
                ).toFixed(1)}`;
              } else {
                price[1].innerText = `Цена:${+priceSplit * +counter.value}`;
              }
            }
            if (event.target.id === "delete-food") {
              let card = event.target.closest("#food-card");
              let price = card.querySelectorAll("#description-food p");
              let priceSplit = price[1].innerText.split(":")[1];

              let counterWrapper = event.target.closest("#buy-food");
              let counter = counterWrapper.querySelector("#amount-food");

              if (counter.value > 1) {
                counter.defaultValue = counter.value--;
                if (+counter.value > 1) {
                  firstPrice = +priceSplit / (+counter.value + 1);

                  price[1].innerText = `Цена:${(
                    +firstPrice * +counter.value
                  ).toFixed(1)}`;
                } else {
                  price[1].innerText = `Цена:${
                    priceSplit / (+counter.value + 1)
                  }`;
                }
              }
            }
          });
        }

        addProductsBasket() {
          let i = 0;
          let j = 1;
          let cardItemHTML = "";
          let modalHtml = "";
          let summa = 0;
          let selectSize = "";
          let summaPriceModalHTML;
          let modalCardElementPrice;
          let summaPriceModal = 0;
          let totalSumma = 0;
          let orderModal = {};
          let localStorageOrder;
          let contentFoods = document.getElementById("contentFoods");
          let basketProducts = document.querySelector(".basket-products");
          let orderID = 0;
          let objActiveItemModal = {};
          let objPriceModalCard = {};
          let modalReady;
          window.addEventListener("click", (event) => {
            let modalCardElement;
            let customBurger = {};
            let localStorageOrderModal;
            let resultSumma = 0;
            let resultSummaModal = 0;
            let modalBottom;
            let activeIngredientModal = [];
            let arrayPriceModalCard = [];
            let categoryMenu;

            if (event.target.id === "button-buy") {
              let card = event.target.closest("#food-card");
              let description = card.querySelectorAll("#description-food p");
              let foodImg = card.querySelector("#photo-food img").src;
              let nameFood = description[0].innerText;
              let priceFood = description[1].innerText.split(":")[1];
              let btn = card.querySelector("#button-buy");
              let amountFood = card.querySelector("#amount-food").value; ///&&&&&&&&&&&&&&&&&&&
              console.log("amountFood click button buy 1", amountFood);
              let categoryID = event.target.id;
              let addIngredients;
              addResultSummaSessionsStorage(resultSumma);
              if (this.typeProduct === "sandwiches") {
                modalBottom = document.getElementById("modal-bottom");
                let selectSize = "";
                let foodCategory = this.foods.sizes;
                categoryMenu = "sizes";

                contentFoods = renderModalDialog(
                  selectSize,
                  modalHtml,
                  priceFood,
                  summaPriceModal,
                  foodCategory,
                  categoryMenu
                );
                let selected = document.querySelectorAll(".selected");
                let modal = document.getElementById("modal-content");
                let modalClose = document.getElementById("close-modal");
                let menuItem = document.getElementById("menu-modal");
                modalBottom =
                  document.querySelector("#modal-bottom p").innerText;
                let click = document.getElementById("sizes");

                modal.addEventListener(
                  "click",
                  closeModal(modal, objActiveItemModal, "modal-content")
                );

                setTimeout(() => {
                  click.click();
                }, 1);

                modal.showModal();
                menuItem.addEventListener("click", (e) => {
                  categoryMenu = e.target.value;
                  selectSize = "";
                  let sizeSelection = document.getElementById("size-selection");
                  let modalBottom = document.getElementById("modal-bottom");
                  let categoryID = e.target.id;
                  let foodCategory = this.foods[`${categoryID}`];

                  addPriceSessionsStorage(resultSummaModal, priceFood);

                  renderModalDialog2(
                    selectSize,
                    modalHtml,
                    foodCategory,
                    i,
                    resultSummaModal,
                    categoryID,
                    sizeSelection,
                    modalBottom,
                    objActiveItemModal,
                    addIngredients
                  );
                  let selected = [];
                  let selectedSizes = document.getElementById("size-selection");
                  Object.entries(selectedSizes.children).forEach((value) => {
                    selected.push(value[1]);
                  });
                  resultSummaModal = sessionStorage.getItem(
                    "resultSummaModal",
                    resultSummaModal
                  );
                  resultSummaModal = +resultSummaModal;

                  ///////////////////////////////////////////////////////////////////
                  selected.forEach((element) => {
                    element.addEventListener("click", () => {
                      modalCardElement = element.querySelectorAll("p");

                      let priceElementFoodModal =
                        modalCardElement[1].innerText.split(" ")[0];
                      modalCardElement = modalCardElement[0].innerText;

                      localStorageOrderModal = JSON.parse(
                        localStorage.getItem("customBurger")
                      );

                      if (localStorageOrderModal === null) {
                        customBurger["name"] = nameFood;
                        customBurger[categoryMenu] = modalCardElement;
                        localStorage.setItem(
                          "customBurger",
                          JSON.stringify(customBurger)
                        );
                        activeIngredientModal.push(element.dataset.setmodal);
                        objActiveItemModal[categoryMenu] =
                          activeIngredientModal;
                        console.log(objActiveItemModal);

                        arrayPriceModalCard.push(priceElementFoodModal);
                        objPriceModalCard[categoryMenu] = arrayPriceModalCard;
                        console.log(objPriceModalCard);
                        /////////////////////////////////////////////////////////

                        bottomModalPrice(
                          summaPriceModalHTML,
                          modalBottom,
                          resultSummaModal,
                          priceElementFoodModal
                        );
                        /////////////////////////////////////////////////////////
                        addClassActiveModal(
                          selected,
                          element,
                          categoryMenu,
                          addIngredients
                        );
                      } else {
                        if (element.className === "active-modal") {
                          console.log("true");

                          disabledActiveModal(
                            selected,
                            element,
                            addIngredients,
                            modalCardElement,
                            categoryMenu,
                            objActiveItemModal,
                            objPriceModalCard,
                            summaPriceModalHTML,
                            modalBottom,
                            resultSummaModal,
                            priceElementFoodModal
                          );
                        } else {
                          addIngredients = addIngredientsSandwiches(
                            categoryMenu,
                            localStorageOrderModal,
                            modalCardElement,
                            element,
                            objActiveItemModal,
                            priceElementFoodModal,
                            objPriceModalCard,
                            resultSummaModal,
                            summaPriceModalHTML,
                            modalBottom
                          );
                          addClassActiveModal(
                            selected,
                            element,
                            categoryMenu,
                            addIngredients
                          );
                        }
                      }
                    });
                  });

                  ///////////////////////////////////////////////////////////////////

                  if (e.target.id === "ready") {
                    let modalBottom = document.getElementById("modal-bottom");
                    selectSize = "";
                    let selectSize2 = "";
                    customBurger = JSON.parse(
                      localStorage.getItem("customBurger")
                    );

                    modalReady = renderModalReadyOrder(
                      customBurger,
                      selectSize,
                      selectSize2,
                      modalHtml,
                      sizeSelection,
                      foodImg,
                      nameFood,
                      summaPriceModal,
                      modalBottom
                    );
                    console.log("summaPrice", modalReady);

                //     modalReady.addEventListener("click", (e) => {
                //       if (e.target.id === "button-add-basket") {
                //         modalReady = document.getElementById("amount-foods");
                //         let summaPrice =
                //           document.getElementsByClassName("summaPrice")[0];
                //         console.log(
                //           "summaPrice",
                //           summaPrice.innerText.slice(0, 10).split(":")[1]
                //         );
                //         summaPrice = Number(
                //           summaPrice.innerText.slice(0, 10).split(":")[1]
                //         );
                //         console.log("summaPrice", summaPrice);
                //         amountFood = +modalReady.value;
                //         console.log(
                //           "amountFood click button buy 2",
                //           amountFood
                //         );
                //         customBurger.amount = amountFood;
                //         customBurger.price = summaPrice;
                //         localStorage.setItem(
                //           "customBurger",
                //           JSON.stringify(customBurger)
                //         );

                //         this.order = setSandwichesInOrder(
                //           this.order,
                //           customBurger
                //         );

                //         let renderBasket = renderFoodInBasket(
                //           this.order,
                //           cardItemHTML,
                //           orderID,
                //           resultSumma
                //         );

                //         let resultSummaBasketHTML =
                //           document.getElementById("totalSumm");

                //         calculationOfTheTotalPriceModal(
                //           basketProducts,
                //           renderBasket,
                //           resultSummaBasketHTML
                //         );
                //         localStorage.removeItem("customBurger");
                //         sessionStorage.removeItem("resultSummaModal");
                //         modal.remove();
                //         let modalOverlay =
                //           document.getElementsByClassName("modal-overlay")[0];
                //         modalOverlay.remove();
                //         objActiveItemModal = {};
                //       }
                //     });
                //   }
                // });
                menuModalActivity(objActiveItemModal);
                modalClose.addEventListener(
                  "click",
                  closeModal(modal, objActiveItemModal, "close-modal")
                );
              } else {
                let basketProducts = document.querySelector(".basket-products");
                let nameFood = description[0].innerText;
                let resultSummaBasketHTML =
                  document.getElementById("totalSumm");
                localStorageOrder = JSON.parse(localStorage.getItem("order"));

                //если order null

                if (localStorageOrder == null) {
                  this.order.push({
                    id: orderID,
                    name: nameFood,
                    price: priceFood,
                    amount: amountFood,
                  });
                  localStorage.setItem("order", JSON.stringify(this.order));
                } else {
                  this.order = localStorageOrder;
                  localStorage.setItem("order", JSON.stringify(this.order));
                  this.order.push({
                    id: orderID,
                    name: nameFood,
                    price: priceFood,
                    amount: amountFood,
                  });
                  localStorage.setItem("order", JSON.stringify(this.order));
                }

                let renderBasket = renderFoodInBasket(
                  this.order,
                  cardItemHTML,
                  orderID
                );
                orderID++;

                calculationOfTheTotalPrice(
                  basketProducts,
                  renderBasket,
                  resultSummaBasketHTML,
                  priceFood
                );
              }
            }
            deleteFood(orderID, resultSumma, basketProducts);
          });
          let resultSummaBasketHTML = document.getElementById("totalSumm");

          reloadingCartDataToClick(
            basketProducts,
            orderID,
            resultSummaBasketHTML
          );

          console.log("resultSummaBasketHTML", resultSummaBasketHTML);
          loadingCartData(basketProducts, resultSummaBasketHTML);
          checkout();
        }
      }
      let products = new Products();
      products.render();
      products.orderQuantity();
      products.addProductsBasket();
    </script>
  </body>
</html>
<!-- npm i -D webpack webpack-cli -->
