<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style/basket.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/food-card.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/navbar-menu.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/products-list.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/style-modal.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/wrapper-box.css" type="text/css" />

  <title>Document</title>

</head>


<body>
  <div class="wrapper">
    <div id="box1">
      <p>Сделай заказ </p>
    </div>
    <div id="box2">
      <nav class="navbar-menu" id="menu">
        <a href="#">Блины</a>
        <a href="/shaurma">Шаурма</a>
        <a href="/pizza">Пицца</a>
        <a href="/sandwiches">Сенгвичи </a>
        <a href="/burgers">Бургеры </a>
        <a href="/chicken">Курица & Картофель</a>
        <a href="/salads">Тортилья & Салаты </a>
        <a href="/drinks">Напитки & Десерты </a>

      </nav>
      <div class="basket-logo">
        <p>Корзина</p>
      </div>
      <div class="basket-body">
        <div class="basket-info">
          <p>Название</p>
          <p>Количество</p>

        </div>
        <div class="basket-products">

        </div>
        <hr>
        <p id="totalSumm">Итого: 0 руб</p>
        <button class="btn" type="submit">ОФОРМИТЬ ЗАКАЗ</button>
      </div>
    </div>

    <div id="box3">

    </div>
  </div>


  <script>
    let contentBox3 = document.getElementById('box3')
    let catalog = []
    let menuActive = document.querySelectorAll('.navbar-menu a')
    menuActive.forEach((element) => {
      element.addEventListener('click', (e) => {
        e.preventDefault
        menuActive.forEach((element) => {
          element.classList.remove('active')
        })
        e.target.classList.add('active')
      })
    })


    let listProducts = []
    async function getResponse() {
      let response = await fetch('http://myjson.dit.upm.es/api/bins/9np0')
      let content = await response.json()

      return content
    }

    class Products {

      constructor() {
        let typeProduct = ''
        let foods
        this.order = []
        this.local

      }

      render() {
        let htmlCatalog = ''
        let i = 0

        this.typeProduct = window.location.pathname.split('/')[1]
        console.log(this.typeProduct)
        getResponse().then((content) => {
          this.foods = content
          console.log(content)
          content.menu.forEach((element) => {
            console.log(element.category)


            if (element.category === this.typeProduct) {

              htmlCatalog += `
                
                <div id='food-card' data-set='${i++}'>
                  <div id="logo-food"><img src=https://logos-marques.com/wp-content/uploads/2021/03/Subway-Logo-2048x1158.png></div>
                  <div id="photo-food"> <img
                    src="/static${element.image}">
                  </div>
                  <div id="discription-food">
                    <p>${element.name}</p>
                    <hr><a id="add-indigreen" href="#">${element.description}</a>
                      <hr>
                        <p>Цена:${element.price}</p><br>
                      </div>
                      <div id="buy-food">
                        <p>Количество</p>
                        <button type="button" id="add-food">+</button>
                        <input type="number" id="amount-food" name="amount-food" value=${element.weight}  />
                        <button type="button" id="delet-food">-</button><br>
                          <button type="button" id="button-buy">В КОРЗИНУ</button>
                      </div>
                  </div>
                `

              const html = `
                  <ul class='products-list'>
                    ${htmlCatalog}
                    </ul> `

              contentBox3.innerHTML = html
            }
          });

        })

      }


      orederQuantity() {


        window.addEventListener('click', (event) => {


          if (event.target.id === 'amount-food') {
            let card = event.target.closest('#food-card')
            let price = card.querySelectorAll('#discription-food p')
            let priceSplit = price[1].innerText.split(':')[1]
            event.target.addEventListener('input', (event) => {
              price[1].innerText = `Цена:${(event.target.value * priceSplit).toFixed(1)}`
            })
          }


          if (event.target.id === 'add-food') {
            let card = event.target.closest('#food-card')
            let price = card.querySelectorAll('#discription-food p')
            let priceSplit = price[1].innerText.split(':')[1]

            let counterWraper = event.target.closest('#buy-food')
            let counter = counterWraper.querySelector('#amount-food')
            counter.innerText = counter.value++

            if (+counter.value > 2) {
              priceSplit = (+priceSplit / (+counter.value - 1))
              price[1].innerText = `Цена:${(priceSplit * +counter.value).toFixed(1)}`
            }
            else {
              price[1].innerText = `Цена:${+priceSplit * +counter.value}`
            }

          }
          if (event.target.id === 'delet-food') {
            let card = event.target.closest('#food-card')
            let price = card.querySelectorAll('#discription-food p')
            let priceSplit = price[1].innerText.split(':')[1]

            let counterWraper = event.target.closest('#buy-food')
            let counter = counterWraper.querySelector('#amount-food')

            if (counter.value > 1) {
              counter.innerText = counter.value--

              if (+counter.value > 1) {
                priceSplit = (+priceSplit / (+counter.value + 1))

                price[1].innerText = `Цена:${(+priceSplit * (+counter.value)).toFixed(1)}`
              }
              else {
                price[1].innerText = `Цена:${((priceSplit / (+counter.value + 1)))}`
              }
            }

          }

        })
      }

      addProductsBascket() {
        let listProducts = []
        let i = 0
        let j = 1
        let cardItemHTML = ''
        let modalHtml
        let summa = 0
        let selectSize = ''



        window.addEventListener('click', (event) => {
          if (event.target.id === 'button-buy') {
            let card = event.target.closest('#food-card')
            let discription = card.querySelectorAll('#discription-food p')
            let price_food = discription[1].innerText.split(':')[1]
            let btn = card.querySelector('#button-buy')
            let contentBox3 = document.getElementById('box3')

            if (this.typeProduct === 'sandwiches') {

              let selectSize = ''

              let foodSize = this.foods.sizes
              for (let i = 1; i < Object.keys(foodSize).length + 1; i++) {
                selectSize += ` 
                       <div class="selected" data-set='${i}' style="margin-right: 10px";>
                         <div class="background" style=" background-color: #ffffff;border-radius: 128px; height: 239px;
                         width: 255px; margin-left: 18px;margin-top: 23px">
                       <image src="static/${this.foods.sizes[`${i}x`].image}"/>
                       <p style="margin-top: 65px;">${this.foods.sizes[`${i}x`].name}</p>
                       <hr>
                       <p>${this.foods.sizes[`${i}x`].price} руб</p>
                       </div>
                      </div>`
              }


              modalHtml = `
                 <dialog id="modal-content">
                   <div id="modal-top">
                     <input type="button" name="close-moala" id="close-moala" value="X"></input>
                   </div>
                   <form method="dialog">
                     <menu id="menu-modal">
                       <input type="button" id="sizes"  value="Размер"></input>
                       <input type="button" id="breads"   value="Хлеб"></input>
                       <input type="button" id="vegetables"   value="Овощи"></input>
                       <input type="button" id="sauces"  value="Соусы"></input>
                       <input type="button" id="fillings"  value="Начинка"></input>
                       <input type="button" id="ready"  value="Готово!"></input>
                     </menu>
                      
                      <div id="size-selection" style="text-align: center;
                              display: flex;
                              margin-top: 0px;
                              margin-left: 0px;
                              display: flex;
                              flex-wrap: nowrap;
                              flex-direction: row;
                              justify-content: space-evenly;">
                      ${selectSize}
                       </div>

                       <div id="modal-bottom" >
                        <p>Итого:${price_food}</p>
                       </div>
                     </form>
                     
                     </dialog>
                     `

              contentBox3.innerHTML += modalHtml


              let modal = document.getElementById("modal-content")
              let modalClose = document.getElementById("close-moala")
              let menuItem = document.getElementById("menu-modal")

              console.log(menuItem)
              modal.showModal()

              menuItem.addEventListener("click", (e) => {

                selectSize = ''
                let smmaPrice

                let size_selection = document.getElementById("size-selection")
                let modal_bottom = document.getElementById("modal-bottom")
                let categotyID = e.target.id
                let foodCategory = this.foods[`${categotyID}`]


                for (let key in foodCategory) {
                  const element = foodCategory[key]

                  selectSize += ` 
                 <div class='selected' data-set='${i++}' ;>
                            <div class="background" style=" background-color: #ffffff;
                                border-radius: 128px;
                                height: 143px;
                                width: 150px;
                                margin-left: 53px;
                                margin-top: 23px;
                                text-align: center;">
                               <image style="width: 146px;margin-top: -1px;" src="static/${element.image}"/>
                            
                                     </div>
                                     <p style="margin-top: 0px;">${element.name}</p>
                                             <hr>
                                  <p>${element.price} руб</p>
                                     </div>`
                }

                modalHtml = `  <div id="size-selections" style="flex-wrap: wrap; 
                                      display: flex;
                                      margin-top: 10px;
                                      margin-left: 2px;">
                                        ${selectSize}
                                       </div>
                                     `

                size_selection.innerHTML = modalHtml

                let selecteds = document.querySelectorAll('.selected')
                selecteds.forEach(element => {

                  element.addEventListener('click', () => {
                    let elem = element.querySelectorAll('p')
                    console.log(elem[0].innerText)
                    console.log(elem[1].innerText)

                  })
                })

                if (e.target.id === 'ready') {
                  console.log('ready')
                }


              })
              /*   let size_selection = document.querySelectorAll('#seleted');
                let selected = document.getElementById('#seleted');
                console.log(size_selection)
                
  
                selected.addEventListener('click', (e) => {
                  console.log(e.currentTarget.id)
  
                }); */



              modalClose.addEventListener("click", () => {
                modal.close()
                modal.remove()
              })


            }

            else {
              let products = {}
              let basket_products = document.querySelector('.basket-products')
              let name_food = discription[0].innerText
              let resultSumma = document.getElementById('totalSumm')

              let localStorageOreder = localStorage.getItem('order')
              localStorageOreder = JSON.parse(localStorageOreder)
              console.log('..', typeof localStorageOreder)

              //если order null
              if (localStorageOreder == null) {
                this.order.push({ name: name_food, price: price_food })
                localStorage.setItem('order', JSON.stringify(this.order))
              }
              else {
                this.order = localStorageOreder
                localStorage.setItem('order', JSON.stringify(this.order))
                this.order.push({ name: name_food, price: price_food })
                localStorage.setItem('order', JSON.stringify(this.order))
                console.log(this.order)
              }


              for (let key in this.order) {
                let value = this.order[key];

                cardItemHTML = `
              <div class="order" id='order' data-order=${i++}>
                <p>${value.name}</p> 
                <p>${value.price}</p>
               
              <div>
                <button id="delete products">X</button>
              `

              }

              basket_products.innerHTML += `${cardItemHTML}<br>`
              price_food = Number(price_food)
              summa = summa + price_food
              console.log(summa)
              resultSumma.innerText = `Итого: ${summa} руб`

            }
          }
          if (event.target.id === 'delete products') {
            document.getElementById('order').remove()

          }

        })


      }


    }
    let products = new Products()

    products.render()
    products.orederQuantity()
    products.addProductsBascket()

  </script>

</body>


</html>