.search-input{
    margin-left: 550px;
    margin-top: 0px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 18px;
}
.search-product{
    padding-right: 200px;
    margin-left: -254px;
}
.search-button{
    margin-left: 5px;
    height: 40px;
    width: 80px;
    border: 1px;
    padding: 0%;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f6c916
}
.search-button:hover{
    transition: 1s;
    background-color: rgb(52, 177, 52);
    color: rgb(255, 255, 255);
}

