
.wrapper {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  /* background-image: url("img/fon.png"); */
}

#header {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: Consola-Bold;
  font-size: 30px;
  text-align: center;
  color: #444444;
}

#menu {
  width: 380px;
}

#contentFoods {
  margin-left: 47px;
  display: flex;
}

.logo-Header{
  margin-left: 600px;
}