@font-face {
  font-family: Consola-Bold;
  /* Имя шрифта */
  src: url('font/RobotoCondensed-Regular.ttf');
  /* Путь к файлу со шрифтом */
}

.basket-logo p {
  padding-bottom: 20px;
    display: block;
    font-family: Consola-Bold;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 6, 6);
    text-decoration: none;
  }
  
  .basket-logo {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 60px;
    padding-bottom: 0px;
    height: 70px;
    width: 380px;
    background-color: #f5c300;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 1px 8px rgba(5, 5, 5, 0.5);
  }
  
  .basket-body {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    width: 380px;
    border-radius: 5px;
    background-color: #f6d846;
    color: #ffffff;
    box-shadow: 5px 4px 8px rgba(5, 5, 5, 0.5);
  }
  
  .basket-body p {
    text-align: center;
    font-family: Consola-Bold;
    font-size: 25px;
    color: #6c6545;
  }
  
  .basket-info {
    margin-top: 1px;
    display: flex;
    color: #6c6545;
    font-family: Consola-Bold;
    font-size: 25px;
    justify-content: space-around;
  }
  
  .basket-body button {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 25px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-radius: 5px;
    font-family: Consola-Bold;
    font-size: 30px;
    color: rgb(249, 249, 249);
    background-color: #808080;
  }
  
  .basket-body button:hover {
    background-color: #4fbc14;
    transition: 0.2s
  }

  .order {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 1px;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Consola-Bold;
    color: #6c6545;
  }
  .delete_products{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }