.select-amountFood {
  text-align: center;
  background-color:white;
}

#add-foods {
  border-radius: 160px;
  width: 30px;
  height: 30px;
}

#delete-foods {
  border-radius: 160px;
  width: 30px;
  height: 30px; 
}

.amount-foods-modal {
  margin-bottom: 13px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-width: 2px;
  border-radius: 10%;
  padding: 0px;
  width: 60px;
  height: 33px;
  text-align: center;
}

.summaPrice {
  display: flex;
  justify-content: center;
  background-color: white;
}

#button-add-basket {
  margin-left: 10px;
  margin-top: 6px;
  border: 0px;
  border-radius: 8%;
  height: 40px;
  background-color: #fc0;
  font-weight: 600;
}
