@font-face {
  font-family: Consola-Bold;
  /* Имя шрифта */
  src: url('font/consolab.ttf');
  /* Путь к файлу со шрифтом */
}
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
    grid-gap: 45px;
    margin-left: 95px;
    max-width: 1200px;
  
  }
  
  .products-list #food-card {
    width: auto;
    margin-right: -100px;
    margin-left: 100px;
    margin-bottom: 50px;
    height: 660px;
  }