
.products-list {
  margin-top: -45px;
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
}

.products-list #food-card {
  margin-right: -100px;
  margin-left: 100px;
  margin-bottom: 46px;
  width: auto;
  height: 740px;
}
