#modal-content {
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  width: 1100px;
  height: 830px;
  display: grid;
  grid-template-rows: 70px 1fr;
  background-color: #ccc;
}

.modal-overlay{
  position:fixed;
  height:100%;
  width:100%;
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.165);
  top:0;
  left:0;
}

.modal-form{
  display: flex;
flex-direction: column;
justify-content: unset;
}

#modal-top {
  background-color: #fc0;
  width: 1100px;
  height: 50px;
}

#modal-bottom {
  margin-top: auto;
  background-color: rgb(255, 255, 255);
}

#modal-bottom p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  color: red;
}

#close-modal{
  margin-left: 1028px;
  border: none;
  width: 45px;
  height: 50px;
  font-size: 30px;
  background-color: #fc0;
}

#close-modal:hover {
  background-color: red;
  transition: 0.2s;
}

#menu-modal {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  padding-left: 0px;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
}
.active-modal-menu{
  border-radius: 5px;
  background-color: #c63;
}
.no-active-modal-menu{
  background-color: #fff; 
}
#menu-modal input {
  margin-bottom: 0px;
  border-radius: 5px;
  padding-top: 10px;
  font-family: Consola-Bold;
  font-size: 30px;
  border: 0px;
  /* background-color: #fff;  */
}

/* #menu-modal input:hover {
  border-radius: 5px;
  background-color: #c63;
  color: rgb(255, 253, 253);
  transition: 0.2s;
} */
.img_food-modal{
  margin-top: 10px;
  width: 167px;
  height: 167px;
  border-radius: 100px;
  background-color: white;
}

#size-selection {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  display: flex;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  scroll-behavior: auto;
}



#size-selection img {
  margin-top: 10px;
  border-radius: 100%;
  width: 165px;
}
#size-selection p{
  margin-top: 10px;
}

.selected {
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  pointer-events: auto;
  background-color: #f6d846;
  box-shadow: 5px -1px 10px rgb(5 5 5 / 50%);
}

.selected:hover {
  background-color: #69ea13;
  color: rgb(255, 253, 253);
  transition: 0.2s
}

.active-modal {
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  background-color: #70ec23;
  box-shadow: 5px -1px 10px rgb(5 5 5 / 50%);
}
.disabled-modal{
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 5px -1px 10px rgb(5 5 5 / 50%);
  pointer-events: none;
  background-color: #b4ad92;
}

.background {
  margin-left: 34px;
  margin-top: 23px;
  border-radius: 128px;
  height: 181px;
  width: 181px;
  background-color: #ffffff;
  text-align: center;
}

.info {
  font-size: 25px;
  text-align: left;
}

.img_food {
  margin-top: 100px;
  border-radius: 100px;
  height: 187px;
  width: 185px;
  background-color: #fc0;
}


.amount-food-modal {
  border: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  font-size: 24px;
}

.button-next-Ingredients{
  margin-bottom: 0px;
  /* display: flex; */
  /* justify-content: end; */
  font-size: 20px;
}

.button-next-Ingredients input{
  border-radius: 5px;
  border: 0px;
  width: 147px;
  height: 46px;
  color: #ffffff;
  background-color:rgb(209, 55, 55) ;
}


.button-next-Ingredients :hover{
  background-color: #c41d00;
  color: rgb(255, 253, 253);
  transition: 0.2s
}
#next{
  /* margin-right:54px;
  margin-left:692px; */
}
#back{
  /* margin-left:54px; */
  /* margin-right: 50px; */
}

/* display: flex;
flex-direction: column;
justify-content: space-between; */