@font-face {
    font-family: Consola-Bold;
    /* Имя шрифта */
    src: url('font/consolab.ttf');
    /* Путь к файлу со шрифтом */
  }
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('img/fon.png');
  
  }
  
  #box1 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: Consola-Bold;
    font-size: 30px;
    text-align: center;
    color: #444444;
  
  }
  
  #box2 {
    width: 350px;
  }
  
  #box3 {
    display: flex;
    width: 100%;
  }